/***** 35 - Containers - Home One Alt - Feature Posts Area  *******/

.home-one-alt{
	&.feature-post-area{
		padding-top: 60px;
		padding-bottom: 50px;
		.feature-post-slider{
			padding-bottom: 45px;
			border-bottom: 1px solid $border-color;
		}
		@include breakpoint(small){
			padding-bottom: 50px;
			padding-top: 80px;
		}
		@include breakpoint(medium){
			padding-top: 100px;
			padding-bottom: 50px;
		}
	}
}