/***** 13 - Components - Comment  *******/

.comment{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	&__left{
		flex-basis: 100%;
		max-width: 100%;
		@include breakpoint(medium){
			flex-basis: 110px;
			max-width: 110px;
		}
	}	
	&__right{
		flex-basis: 100%;
		max-width: 100%;
		margin-top: 30px;
		@include breakpoint(medium){
			flex-basis: calc(100% - 110px);
			max-width: calc(100% - 110px);
			padding-left: 30px;
			margin-top: 0;
		}
	}
	&__author{
		&-img{
			img{
				width: 110px;
				height: 110px;
				border-radius: 50%;
			}
		}
		&-name{
			a{
				color: #000000;
				&:hover{
					color: $hover-color;
				}
			}
			margin-bottom: 0;
			font-weight: 600;
		}
	}
	&__top{
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-start;
		@include breakpoint(medium){
			flex-direction: row;
			align-items: center;
		}
	}
	&__date{
		color: #6b6a6a;
		font-size: 12px;
		text-transform: uppercase;
		margin-bottom: 0;
		@include breakpoint(medium){
			margin-left: 10px;
		}
	}
	&__reply{
		font-size: 12px;
		text-transform: uppercase;
		color: #000;
		background-color: $primary-color;
		font-weight: 500;
		width: 60px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		border-radius: 35px;
		border: none;
		margin-top: 5px;
		transition: $transition;
		@include breakpoint(medium){
			margin-left: auto;
			margin-top: 0;
		}
		&:hover{
			background: $hover-color;
			color: #fff;
		}
	}	
}

.comments{
	border-bottom: 1px solid $border-color;
}

.comments-list{
	&__item{
		&:not(:last-child){
			margin-bottom: 30px;
			@include breakpoint(medium){
				margin-bottom: 50px;
			}
		}
		ul{
			padding-left: 30px;
			@include breakpoint(medium){
				padding-left: 60px;
			}
			@include breakpoint(xlarge){
				padding-left: 110px;
			}
			li{
				margin-top: 30px;
				@include breakpoint(medium){
					margin-top: 50px;
				}
			}
		}
	}
}