/***** 25 - Components - Social  *******/

.social {
	position: relative;
    z-index: 2;
	&--space{
		&-23{
			.social__link{
				padding-right: 23px;
			}
		} 
	}
	&__link{
		color: rgb(145, 145, 145);
		display: inline-block;
		line-height: 1;
		transition: $transition;
		svg {
			width: 16px;
			height: 16px;
		}
		&:last-of-type{
            padding-right: 0;
            margin-right: 0;
		}
		&:hover{
			color: $hover-color;
		}
	}
	&--white{
		.social__link{
			color: #fff; 
			&:hover{
				color: $primary-color; 
			}
		}
	}
	&--footer{
		.social__link{
			padding-right: 15px;
			color:rgb(145, 145, 145);
			@include breakpoint(medium){
				padding-right: 12px;
			}
			@include breakpoint(large){
				padding-right: 11px;
			}
			@include breakpoint(xlarge){
				padding-right: 20px;
			}
			&:hover{
				color: $hover-color;
			}
		}
	}
	&.layout-2{
		.social__link{
			margin-right: 10px;
			width: 34px;
			height: 34px;
			line-height: 26px;
			border-width: 2px;
			border-style: solid;
            border-color: transparent;
            text-align: center;
			border-radius: 50%;
			color: rgb(145, 145, 145);
			&:last-child{
				margin-right: 0;
			}
			svg{
				width: 16px;
				height: 16px;
			}
			&:hover{
				border-color: rgb(145, 145, 145);
			}
		}
		&.social--white{
			.social__link{
				color: #fff; 
				&:hover{
					border-color: #fff;
				}
			}
		}
	}
}